* {
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}


.box1, .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
    
    margin: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.ball {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid gray;
    background: gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* transition: all 0.5s; */
   
   

}
